.container {
  display: flex;
  justify-content: center;
  padding-top: 3%;
  padding-bottom: 5%;
  height: 100vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 24px;
  
  width: 100%;
  max-width: 700px;
}

.margin_bottom {
    margin-bottom: 10px;
}

.hrLine{
    margin: 10px;
    border-top: 1px solid rgba(87, 53, 184, 0.3);
}
.content h1 {
  font-size: 60px;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 6px;
}

.footer h6 {
  font-weight: 200;
  font-size: 15px;
  padding: 8px;
  width: 100%;
  background: var(--background-light);
}

.footer h6 span {
  font-weight: 600;
  margin-left: 4px;
  padding: 2px 4px;
  background: var(--secondary);
}

.titleHead {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}

.titleHead img {
    width: 3vw;
}

.sub_container {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 40px;
  width: 50vw;
  background-color: white;
}