.boxAlert {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  color: #292929;
  padding: 20px;
}

.boxAlert svg {
  opacity: 0.8;
}

.boxAlert p {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  max-width: 300px;
}

.boxAlert.empty {
  background: rgba(0, 0, 255, 0.05);
  border: 1px solid rgba(0, 0, 255, 0.2);
}

.boxAlert.empty svg {
  color: blue;
}

.boxAlert.warning {
  background: #efefef;
  border: 1px solid rgba(87, 53, 184, 0.3);
}

.boxAlert.warning svg {
  color: orangered;
}

